In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/home/spidy/Downloads/Latest Covid-19 India Status.csv')

In [3]:
print(df)

                                   State/UTs  Total Cases  Active  Discharged  \
0                        Andaman and Nicobar         7546       5        7412
1                             Andhra Pradesh      1983721   19549     1950623
2                          Arunachal Pradesh        50372    2606       47520
3                                      Assam       575220   11096      558720
4                                      Bihar       725235     286      715303
5                                 Chandigarh        61984      27       61146
6                               Chhattisgarh      1003244    1700      988004
7   Dadra and Nagar Haveli and Daman and Diu        10653       6       10643
8                                      Delhi      1436800     498     1411235
9                                        Goa       171944     896      167884
10                                   Gujarat       825064     209      814778
11                                   Haryana       770091     672      759769
12                          Himachal Pradesh       208197    2086      202576
13                         Jammu and Kashmir       322658    1311      316957
14                                 Jharkhand       347406     202      342074
15                                 Karnataka      2919711   23342     2859552
16                                    Kerala      3565574  170031     3377691
17                                    Ladakh        20400      72       20121
18                               Lakshadweep        10249      54       10145
19                            Madhya Pradesh       791970     149      781307
20                               Maharashtra      6357833   71813     6151956
21                                   Manipur       104791    7006       96128
22                                 Meghalaya        69358    4734       63450
23                                   Mizoram        45457   12434       32854
24                                  Nagaland        28709    1397       26727
25                                    Odisha       987956   10064      971391
26                                Puducherry       121665     834      119031
27                                    Punjab       599514     441      582753
28                                 Rajasthan       953840     216      944670
29                                    Sikkim        27908    2731       24822
30                                Tamil Nadu      2577237   20427     2522470
31                                 Telengana       649859    8242      637789
32                                   Tripura        80416    2044       77601
33                             Uttar Pradesh      1708793     570     1685449
34                               Uttarakhand       342423     446      334609
35                               West Bengal      1534360   10312     1505808

    Deaths  Active Ratio (%)  Discharge Ratio (%)  Death Ratio (%)
0      129              0.07                98.22             1.71
1    13549              0.99                98.33             0.68
2      246              5.17                94.34             0.49
3     5404              1.93                97.13             0.94
4     9646              0.04                98.63             1.33
5      811              0.04                98.65             1.31
6    13540              0.17                98.48             1.35
7        4              0.06                99.91             0.04
8    25067              0.03                98.22             1.74
9     3164              0.52                97.64             1.84
10   10077              0.03                98.75             1.22
11    9650              0.09                98.66             1.25
12    3535              1.00                97.30             1.70
13    4390              0.41                98.23             1.36
14    5130              0.06                98.47             1.48
15   36817              0.80                97.94             1.26
16   17852              4.77                94.73             0.50
17     207              0.35                98.63             1.01
18      50              0.53                98.99             0.49
19   10514              0.02                98.65             1.33
20  134064              1.13                96.76             2.11
21    1657              6.69                91.73             1.58
22    1174              6.83                91.48             1.69
23     169             27.35                72.27             0.37
24     585              4.87                93.10             2.04
25    6501              1.02                98.32             0.66
26    1800              0.69                97.84             1.48
27   16320              0.07                97.20             2.72
28    8954              0.02                99.04             0.94
29     355              9.79                88.94             1.27
30   34340              0.79                97.87             1.33
31    3828              1.27                98.14             0.59
32     771              2.54                96.50             0.96
33   22774              0.03                98.63             1.33
34    7368              0.13                97.72             2.15
35   18240              0.67                98.14             1.19

In [4]:
print(df.head())

             State/UTs  Total Cases  Active  Discharged  Deaths  \
0  Andaman and Nicobar         7546       5        7412     129
1       Andhra Pradesh      1983721   19549     1950623   13549
2    Arunachal Pradesh        50372    2606       47520     246
3                Assam       575220   11096      558720    5404
4                Bihar       725235     286      715303    9646

   Active Ratio (%)  Discharge Ratio (%)  Death Ratio (%)
0              0.07                98.22             1.71
1              0.99                98.33             0.68
2              5.17                94.34             0.49
3              1.93                97.13             0.94
4              0.04                98.63             1.33

In [6]:
pd(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   State/UTs            36 non-null     object
 1   Total Cases          36 non-null     int64
 2   Active               36 non-null     int64
 3   Discharged           36 non-null     int64
 4   Deaths               36 non-null     int64
 5   Active Ratio (%)     36 non-null     float64
 6   Discharge Ratio (%)  36 non-null     float64
 7   Death Ratio (%)      36 non-null     float64
dtypes: float64(3), int64(4), object(1)
memory usage: 2.4+ KB

TypeError: 'module' object is not callable

In [8]:
dt=df.dropna()

In [9]:
print(dt)

                                   State/UTs  Total Cases  Active  Discharged  \
0                        Andaman and Nicobar         7546       5        7412
1                             Andhra Pradesh      1983721   19549     1950623
2                          Arunachal Pradesh        50372    2606       47520
3                                      Assam       575220   11096      558720
4                                      Bihar       725235     286      715303
5                                 Chandigarh        61984      27       61146
6                               Chhattisgarh      1003244    1700      988004
7   Dadra and Nagar Haveli and Daman and Diu        10653       6       10643
8                                      Delhi      1436800     498     1411235
9                                        Goa       171944     896      167884
10                                   Gujarat       825064     209      814778
11                                   Haryana       770091     672      759769
12                          Himachal Pradesh       208197    2086      202576
13                         Jammu and Kashmir       322658    1311      316957
14                                 Jharkhand       347406     202      342074
15                                 Karnataka      2919711   23342     2859552
16                                    Kerala      3565574  170031     3377691
17                                    Ladakh        20400      72       20121
18                               Lakshadweep        10249      54       10145
19                            Madhya Pradesh       791970     149      781307
20                               Maharashtra      6357833   71813     6151956
21                                   Manipur       104791    7006       96128
22                                 Meghalaya        69358    4734       63450
23                                   Mizoram        45457   12434       32854
24                                  Nagaland        28709    1397       26727
25                                    Odisha       987956   10064      971391
26                                Puducherry       121665     834      119031
27                                    Punjab       599514     441      582753
28                                 Rajasthan       953840     216      944670
29                                    Sikkim        27908    2731       24822
30                                Tamil Nadu      2577237   20427     2522470
31                                 Telengana       649859    8242      637789
32                                   Tripura        80416    2044       77601
33                             Uttar Pradesh      1708793     570     1685449
34                               Uttarakhand       342423     446      334609
35                               West Bengal      1534360   10312     1505808

    Deaths  Active Ratio (%)  Discharge Ratio (%)  Death Ratio (%)
0      129              0.07                98.22             1.71
1    13549              0.99                98.33             0.68
2      246              5.17                94.34             0.49
3     5404              1.93                97.13             0.94
4     9646              0.04                98.63             1.33
5      811              0.04                98.65             1.31
6    13540              0.17                98.48             1.35
7        4              0.06                99.91             0.04
8    25067              0.03                98.22             1.74
9     3164              0.52                97.64             1.84
10   10077              0.03                98.75             1.22
11    9650              0.09                98.66             1.25
12    3535              1.00                97.30             1.70
13    4390              0.41                98.23             1.36
14    5130              0.06                98.47             1.48
15   36817              0.80                97.94             1.26
16   17852              4.77                94.73             0.50
17     207              0.35                98.63             1.01
18      50              0.53                98.99             0.49
19   10514              0.02                98.65             1.33
20  134064              1.13                96.76             2.11
21    1657              6.69                91.73             1.58
22    1174              6.83                91.48             1.69
23     169             27.35                72.27             0.37
24     585              4.87                93.10             2.04
25    6501              1.02                98.32             0.66
26    1800              0.69                97.84             1.48
27   16320              0.07                97.20             2.72
28    8954              0.02                99.04             0.94
29     355              9.79                88.94             1.27
30   34340              0.79                97.87             1.33
31    3828              1.27                98.14             0.59
32     771              2.54                96.50             0.96
33   22774              0.03                98.63             1.33
34    7368              0.13                97.72             2.15
35   18240              0.67                98.14             1.19